/*!
Theme Name:		Marker Child
Theme URI:		https://github.com/WPAddiction/marker
Author:			Web First Designs
Author URI:		http://WebFirstDesigns.com
Description:	Starter child theme for Marker
Tags:			
Version:		0.9.3
License:		GNU General Public License v2 or later
License URI:	http://www.gnu.org/licenses/gpl-2.0.html
Text Domain:	marker-child
Template:		marker

Marker is based on Underscores http://underscores.me/, (C) 2012-2015 Automattic, Inc.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 Normalize
2.0 Typography
	2.1 Headings
	2.2 Copy
	2.3 Links
3.0 Elements
	3.1 Lists
	3.2 Tables
	3.3 Blockquotes
	3.4 Pre & Code
4.0 Forms
	4.1 Buttons
	4.2 Fields
5.0 Accessibility
6.0 Alignments
7.0 Clearings
8.0 Layout
9.0 Site Backgroud & Borders
10.0 Navigation
	10.1 Top Navigation
	10.2 Primary Navigation
11.0 Header
12.0 Sidebars
	12.1 Widgets
	12.2 Sidebar Widget Area
	12.3 Footer Widget Area
13.0 Content
	13.1 Asides
	13.2 Single
	13.3 Comments
	13.4 404
14.0 Footer
15.0 Theme Specific
16.0 Plugins
    16.1 Ninja Forms
    16.2 Yet Another Related Posts Plugin
17.0 Infinite scroll
18.0 Media
	18.1 Captions
	18.2 Galleries
19.0 Mobile Responsive
    19.1 Medium Screen
    19.2 Small Screen
    19.3 Small Screen Navigation
--------------------------------------------------------------*/
@import "variables-site/variables-site";
@import "mixins/mixins-master";
@import "mixins/rem";
@import "mixins/border";
@import "mixins/flexbox";

/*--------------------------------------------------------------
1.0 Normalize
--------------------------------------------------------------*/
@import "normalize";

/*--------------------------------------------------------------
2.0 Typography
--------------------------------------------------------------*/
@import "typography/typography";

	/* 2.1 Headings
	----------------------------------------------------------*/
	@import "typography/headings";

	/* 2.2 Copy
	----------------------------------------------------------*/
	@import "typography/copy";

	/* 2.3 Links
	----------------------------------------------------------*/
	@import "typography/links";

/*--------------------------------------------------------------
3.0 Elements
--------------------------------------------------------------*/
@import "elements/elements";

	/* 3.1 Lists
	----------------------------------------------------------*/
	@import "elements/lists";

	/* 3.2 Tables
	----------------------------------------------------------*/
	@import "elements/tables";

	/* 3.3 Blockquotes
	----------------------------------------------------------*/
	@import "elements/blockquotes";
	
	/* 3.4 Pre & Code
	----------------------------------------------------------*/
	@import "elements/pre";

/*--------------------------------------------------------------
4.0 Forms
--------------------------------------------------------------*/
@import "forms/forms";

	/* 4.1 Buttons
	----------------------------------------------------------*/
	@import "forms/buttons";

	/* 4.2 Fields
	----------------------------------------------------------*/
	@import "forms/fields";

/*--------------------------------------------------------------
5.0 Accessibility
--------------------------------------------------------------*/
@import "modules/accessibility";

/*--------------------------------------------------------------
6.0 Alignments
--------------------------------------------------------------*/
@import "modules/alignments";

/*--------------------------------------------------------------
7.0 Clearings
--------------------------------------------------------------*/
@import "modules/clearings";

/*--------------------------------------------------------------
8.0 Layout
--------------------------------------------------------------*/
@import "layout/content-sidebar";
// @import "layout/sidebar-content";
// @import "layout/content";

/*--------------------------------------------------------------
9.0 Site Background & Borders
--------------------------------------------------------------*/
@import "site/site";

/*--------------------------------------------------------------
10.0 Navigation
--------------------------------------------------------------*/
@import "navigation/menus";

	/* 10.1 Top Navigation
	----------------------------------------------------------*/
	@import "navigation/secondary-navigation";

	/* 10.2 Primary Navigation
	----------------------------------------------------------*/
	@import "navigation/main-navigation";

/*--------------------------------------------------------------
11.0 Header
--------------------------------------------------------------*/
@import "header/header";
	
/*--------------------------------------------------------------
12.0 Sidebars
--------------------------------------------------------------*/
@import "sidebars/sidebars";

	/* 12.1 Widgets
	----------------------------------------------------------*/
	@import "sidebars/widgets";
	
	/* 12.2 Sidebar Widget Area
	----------------------------------------------------------*/
	@import "sidebars/secondary";

	/* 12.3 Footer Widget Area
	----------------------------------------------------------*/
	@import "sidebars/tertiary";

/*--------------------------------------------------------------
13.0 Content
--------------------------------------------------------------*/
@import "content/content";

	/* 13.1 Asides
	----------------------------------------------------------*/
	@import "content/asides";
	
	/* 13.2 Navigation
	----------------------------------------------------------*/
	@import "content/navigation";
		
	/* 13.3 Comments
	----------------------------------------------------------*/
	@import "content/comments";
		
	/* 13.4 404
	----------------------------------------------------------*/
	@import "content/404";
		
/*--------------------------------------------------------------
14.0 Footer
--------------------------------------------------------------*/
@import "footer/footer";

/*--------------------------------------------------------------
15.0 Theme Specific
--------------------------------------------------------------*/
	
/*--------------------------------------------------------------
16.0 Plugins
--------------------------------------------------------------*/

	/* 16.1 Ninja Forms
	----------------------------------------------------------*/
	@import "plugins/ninja-forms";

	/* 16.2 Yet Another Related Posts Plugin
	----------------------------------------------------------*/
	@import "plugins/yarpp";

/*--------------------------------------------------------------
17.0 Infinite scroll
--------------------------------------------------------------*/
@import "modules/infinite-scroll";

/*--------------------------------------------------------------
18.0 Media
--------------------------------------------------------------*/
@import "media/media";

	/* 18.1 Captions
	----------------------------------------------------------*/
	@import "media/captions";

	/* 18.2 Galleries
	----------------------------------------------------------*/
	@import "media/galleries";

/*--------------------------------------------------------------
19.0 Mobile Responsive
--------------------------------------------------------------*/

	/* 19.1 Medium Screen
	----------------------------------------------------------*/
	@import "responsive/medium";

	/* 19.2 Small Screen
	----------------------------------------------------------*/
	@import "responsive/small";

	/* 19.3 Small Screen Navigation
	----------------------------------------------------------*/
	@import "responsive/small-navigation";