/*!
Theme Name:		Marker Child
Theme URI:		https://github.com/WPAddiction/marker
Author:			Web First Designs
Author URI:		http://WebFirstDesigns.com
Description:	Starter child theme for Marker
Tags:			
Version:		1.2.0
License:		GNU General Public License v2 or later
License URI:	http://www.gnu.org/licenses/gpl-2.0.html
Text Domain:	marker-child
Template:		marker

Marker is based on Underscores http://underscores.me/, (C) 2012-2015 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
0.0 Normalize
1.0 Mixins
    1.1 REM to PX
    1.2 Border Shorthand
2.0 Variables
    2.1 Colors
    2.2 Typography
    2.3 Structure
3.0 Typography
	3.1 Headings
	3.2 Copy
	3.3 Links
4.0 Elements
	4.1 Lists
	4.2 Tables
	4.3 Blockquotes
	4.4 Pre & Code
	4.5 Buttons
    4.6 Forms
5.0 Modules
    5.1 Accessibility
    5.2 Alignments
    5.3 Clearings
    5.4 Infinite scroll
6.0 Layouts
7.0 Site Backgroud & Borders
8.0 Header
9.0 Navigation
	9.1 Top Navigation
	9.2 Primary Navigation
10.0 Content
	10.1 Asides
	10.2 Single
	10.3 Comments
	10.4 404
11.0 Sidebars
	11.1 Widgets
	11.2 Sidebar Widget Area
	11.3 Footer Widget Area
12.0 Footer
13.0 Media
	13.1 Captions
	13.2 Galleries
14.0 Plugins
    14.1 Ninja Forms
    14.2 Yet Another Related Posts Plugin
    14.1 Medium Screen
    14.2 Small Screen
    14.3 Small Screen Navigation
15.0 Custom Pages
16.0 Mobile Responsive
    16.1 Medium Screen
    16.2 Small Screen
    16.3 Small Screen Navigation
--------------------------------------------------------------*/
@import "normalize";

/*--------------------------------------------------------------
1.0 Mixins
--------------------------------------------------------------*/
@import "mixins/mixins-master";

	/* 1.1 REM to PX
	----------------------------------------------------------*/
	@import "mixins/rem";

	/* 1.2 Border Shorthand
	----------------------------------------------------------*/
	@import "mixins/border";

/*--------------------------------------------------------------
2.0 Variables
--------------------------------------------------------------*/

	/* 2.1 Colors
	----------------------------------------------------------*/
	@import "variables-site/colors";

	/* 2.2 Typography
	----------------------------------------------------------*/
	@import "variables-site/typography";

	/* 2.3 Structure
	----------------------------------------------------------*/
	@import "variables-site/structure";

/*--------------------------------------------------------------
3.0 Typography
--------------------------------------------------------------*/
@import "typography/typography";

	/* 3.1 Headings
	----------------------------------------------------------*/
	@import "typography/headings";

	/* 3.2 Copy
	----------------------------------------------------------*/
	@import "typography/copy";

	/* 3.3 Links
	----------------------------------------------------------*/
	@import "typography/links";

/*--------------------------------------------------------------
4.0 Elements
--------------------------------------------------------------*/
@import "elements/elements";

	/* 4.1 Lists
	----------------------------------------------------------*/
	@import "elements/lists";

	/* 4.2 Tables
	----------------------------------------------------------*/
	@import "elements/tables";

	/* 4.3 Blockquotes
	----------------------------------------------------------*/
	@import "elements/blockquotes";
	
	/* 4.4 Pre & Code
	----------------------------------------------------------*/
	@import "elements/pre";

	/* 4.5 Buttons
	----------------------------------------------------------*/
	@import "elements/buttons";

	/* 4.6 Forms
	----------------------------------------------------------*/
	@import "elements/forms";

/*--------------------------------------------------------------
5.0 Modules
--------------------------------------------------------------*/

	/* 5.1 Accessibility
	----------------------------------------------------------*/
	@import "modules/accessibility";

	/* 5.2 Alignments
	----------------------------------------------------------*/
	@import "modules/alignments";

	/* 5.3 Clearings
	----------------------------------------------------------*/
	@import "modules/clearings";

	/* 5.4 Infinite scroll
	----------------------------------------------------------*/
	@import "modules/infinite-scroll";

/*--------------------------------------------------------------
6.0 Layouts
--------------------------------------------------------------*/
@import "layout/content-sidebar";
// @import "layout/sidebar-content";
// @import "layout/content";

/*--------------------------------------------------------------
7.0 Site Background & Borders
--------------------------------------------------------------*/
@import "site/site";

/*--------------------------------------------------------------
8.0 Header
--------------------------------------------------------------*/
@import "header/header";

/*--------------------------------------------------------------
9.0 Navigation
--------------------------------------------------------------*/
@import "navigation/menus";

	/* 9.1 Top Navigation
	----------------------------------------------------------*/
	@import "navigation/secondary-navigation";

	/* 9.2 Primary Navigation
	----------------------------------------------------------*/
	@import "navigation/main-navigation";

/*--------------------------------------------------------------
10.0 Content
--------------------------------------------------------------*/
@import "content/content";

	/* 10.1 Asides
	----------------------------------------------------------*/
	@import "content/asides";
	
	/* 10.2 Navigation
	----------------------------------------------------------*/
	@import "content/navigation";
		
	/* 10.3 Comments
	----------------------------------------------------------*/
	@import "content/comments";
		
	/* 10.4 404
	----------------------------------------------------------*/
	@import "content/404";
	
/*--------------------------------------------------------------
11.0 Sidebars
--------------------------------------------------------------*/
@import "sidebars/sidebars";

	/* 11.1 Widgets
	----------------------------------------------------------*/
	@import "sidebars/widgets";
	
	/* 11.2 Sidebar Widget Area
	----------------------------------------------------------*/
	@import "sidebars/secondary";

	/* 11.3 Footer Widget Area
	----------------------------------------------------------*/
	@import "sidebars/tertiary";
		
/*--------------------------------------------------------------
12.0 Footer
--------------------------------------------------------------*/
@import "footer/footer";

/*--------------------------------------------------------------
13.0 Media
--------------------------------------------------------------*/
@import "media/media";

	/* 13.1 Captions
	----------------------------------------------------------*/
	@import "media/captions";

	/* 13.2 Galleries
	----------------------------------------------------------*/
	@import "media/galleries";
	
/*--------------------------------------------------------------
14.0 Plugins
--------------------------------------------------------------*/

	/* 14.1 Ninja Forms
	----------------------------------------------------------*/
	@import "plugins/ninja-forms";

	/* 14.2 Yet Another Related Posts Plugin
	----------------------------------------------------------*/
	@import "plugins/yarpp";

/*--------------------------------------------------------------
15.0 Custom Pages
--------------------------------------------------------------*/

/*--------------------------------------------------------------
16.0 Mobile Responsive
--------------------------------------------------------------*/

	/* 16.1 Medium Screen
	----------------------------------------------------------*/
	@import "responsive/medium";

	/* 16.2 Small Screen
	----------------------------------------------------------*/
	@import "responsive/small";

	/* 16.3 Small Screen Navigation
	----------------------------------------------------------*/
	@import "responsive/small-navigation";