.content-area { // #primary
	background-color: $color__background-secondary-column; // Sidebar Column Background
}

.sidebar-widget-area { // #secondary
	@include rem(padding, $spacing__secondary);
	@include border($border__secondary);
	background-color: $color__background-secondary;
	color: $color__secondary-text;
	font-family: $font__secondary;
	@include font-size($font__size-secondary);

	.widget {
		overflow: hidden;
        width: 100%;
		@include rem(margin, $margin__secondary-widget);
		@include rem(padding, $padding__secondary-widget);
	}
	
	.widget-title,
	.widget_calendar caption {
		border-bottom: $border__secondary-title-bottom;
		font-family: $font__title-secondary;
		@include font-size($font__size-title-secondary);
		font-weight: bold;
	}
	
	a {
		text-decoration: none;
	}
}