.content-area { // #primary
	background: $color__background-secondary-column; // Equal to $color__background-primary.
}

.sidebar-widget-area { // #secondary
    @include rem(margin, $margin__secondary-area);
	@include rem(padding, $padding__secondary-area);
	@include border($border__secondary);
	background: $color__background-secondary;
	color: $color__secondary-text;
	font-family: $font__secondary;
	@include font-size($font__size-secondary);

	.widget {
		overflow: hidden;
        width: 100%;
		@include rem(margin, $margin__secondary-widget);
		@include rem(padding, $padding__secondary-widget);
	}
	
	.widget-title,
	.widget_calendar caption {
		border-bottom: $border__secondary-title-bottom;
		font-family: $font__title-secondary;
		@include font-size($font__size-title-secondary);
        line-height: $font__line-height-secondary-title;
		font-weight: bold;
        text-align: left; // Calendar title fix.
	}
	
	a {
		text-decoration: none;
	}
    
    p {
        margin-bottom: 0;
    }
    
    .widget_search {
    
        form.search-form {
            width: 100%;
        }
    
        .search-submit {
            display: none;
        }
    }
}