.footer-widget-area { // #tertiary
    display: flex;
    justify-content: space-around;
	@include rem(padding, $spacing__tertiary);
	@include border($border__tertiary);
	background-color: $color__background-tertiary;
	color: $color__tertiary-text;
	font-family: $font__tertiary;
	@include font-size($font__size-tertiary);

	.widget {
        float: left; // Backwards compatibility
		overflow: hidden;
        flex-grow: 1;
        width: $width__teriary-widget;
		@include rem(margin, $margin__tertiary-widget);
		@include rem(padding, $padding__tertiary-widget);
	}
	
	.widget-title,
	.widget_calendar caption {
		border-bottom: $border__tertiary-title-bottom;
		font-family: $font__title-tertiary;
		@include font-size($font__size-title-tertiary);
		font-weight: bold;
	}
	
	a {
		text-decoration: none;
	}
}