.footer-widget-area { // #tertiary
    @include flexbox;
    @include justify-content(space-around);
	@include rem(margin, $margin__tertiary-area);
	@include rem(padding, $padding__tertiary-area);
	@include border($border__tertiary);
	background-color: $color__background-tertiary;
	color: $color__tertiary-text;
	font-family: $font__tertiary;
	@include font-size($font__size-tertiary);

	.widget {
        float: left; // Backwards compatibility.
		overflow: hidden;
        @include flex-grow(1);
        width: $width__teriary-widget;
		@include rem(margin, $margin__tertiary-widget);
		@include rem(padding, $padding__tertiary-widget);
	}
	
	.widget-title,
	.widget_calendar caption {
		border-bottom: $border__tertiary-title-bottom;
		font-family: $font__title-tertiary;
		@include font-size($font__size-title-tertiary);
        line-height: $font__line-height-tertiary-title;
		font-weight: bold;
        text-align: left; // Calendar title fix.
	}
	
	a {
		text-decoration: none;
	}
}