.tagcloud {
	text-align: justify;
}

table#wp-calendar {
	margin: 0;
	border: none; // Reset
	
	th,
	td {
		border: none; // Reset
		text-align: center;
	}
    
    #today {
        font-weight: 700;
    }
	
	tfoot,
	tfoot td {
		border: none;
	}
	
	td#prev {
		text-align: left;
	}
	
	td#next {
		text-align: right;
	}
	
	a {
		font-weight: 700;
	}
}