#page {
	max-width: $size__site;
	margin: 0 auto;
}

#masthead { // Header
	clear: both;
	width: $size__site-header;
    
    #top-navigation { // .secondary-navigation
        clear: both;
        display: block;
        float: left;
        width: $size__site-top-nav;
    }
    
    #logo {
        clear: both;
        width: $size__site-logo;
    }
    
    #primary-navigation { // .main-navigation
        clear: both;
        display: block;
        float: left;
        width: $size__site-main-nav;
    }
}

#content { // Content
	clear: both;
	width: $size__site-content;

    #primary { // .content-area
        width: 100%;
    }

    #secondary { // .sidebar-widget-area
        display: none;
    }

    #tertiary-container { // .footer-sidebar
        clear: both;
        width: $size__site-tertiary;

        #tertiary { // .footer-widget-area
            overflow: hidden;
        }
    }
}

#colophon { // Footer
	clear: both;
	width: $size__site-footer;

    #credits {
        overflow: hidden;
        width: 100%;
    }
}