#page {
	max-width: $size__site;
	margin: 0 auto;
}

#masthead { // Header
	clear: both;
	width: $size__site-main;
}

#content {
	clear: both;
	width: $size__site-main;
}

#primary { // Content
	float: left;
	width: 100%;
	margin: 0 (-$size__site-sidebar) 0 0;
}

#main {
	overflow: hidden;
	margin: 0 $size__site-sidebar 0 0;
}

#secondary { // Sidebar Widget Area
	float: right;
	overflow: hidden;
	width: $size__site-sidebar;
}

#colophon { // Footer
	clear: both;
	width: $size__site-main;
}

#tertiary { // Footer Widget Area
	overflow: hidden;
	width: 100%;
}

.site-footer .site-info {
	clear: both;
	overflow: hidden;
	width: 100%
}


/* Medium Screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em) { // min-width 641px and max-width 1024px
    
    #primary { // Content
        margin: 0 -33% 0 0;
    }

    #main {
        margin: 0 33% 0 0;
    }

    #secondary { // Sidebar Widget Area
        width: 33%;
    }
}