#page {
	max-width: $size__site;
	margin: 0 auto;
}

#masthead { // Header
	clear: both;
	width: $size__site-main;
    
    #top-navigation { // .secondary-navigation
        clear: both;
        display: block;
        float: left;
        width: 100%;
    }
    
    #logo {
	   clear: both;
    }
    
    #site-navigation { // .main-navigation
        clear: both;
        display: block;
        float: left;
        width: 100%;
    }
}

#content { // Content
	clear: both;
	width: $size__site-main;

    #primary { // .content-area
        float: right;
        width: 100%;
        margin: 0 0 0 (-$size__site-sidebar);

        #main { // .site-main
            overflow: hidden;
            margin: 0 0 0 $size__site-sidebar;
        }
    }

    #secondary { // .sidebar-widget-area
        float: left;
        overflow: hidden;
        width: $size__site-sidebar;
    }

    #content-footer { // .footer-sidebar
        clear: both;
        width: 100%;

        #tertiary { // .footer-widget-area
            overflow: hidden;
        }
    }
}

#colophon { // Footer
	clear: both;
	width: $size__site-main;

    #credits {
        overflow: hidden;
        width: 100%
    }
}


/* Medium Screens */

@media only screen and (max-width: 64em) { // min-width 641px and max-width 1024px

    #content { // Content
        
        #primary { // .content-area
            margin: 0 0 0 -33%;

            #main { // .site-main
                margin: 0 0 0 33%;
            }
        }

        #secondary { // .sidebar-widget-area
            width: 33%;
        }
    }
}


/* Small Screens */

@media only screen and (max-width: 40em) { // max-width 640px, mobile-only styles

    #masthead { // Header

        #top-navigation { // .secondary-navigation
            display: none;
        }

        #site-navigation { // .main-navigation
        }
    }
    
    #content { // Content
        
        #primary { // .content-area
            margin: 0;

            #main { // .site-main
                margin: 0;
            }
        }

        #secondary { // .sidebar-widget-area
            float: left;
            width: 100%;
        }
    }
}