#page {
	max-width: $size__site;
	margin: 0 auto;
}

#masthead { // Header
	clear: both;
	width: $size__site-header;
    
    #top-navigation { // .secondary-navigation
        clear: both;
        display: block;
        float: left;
        width: $size__site-top-nav;
    }
    
    #logo {
        clear: both;
        width: $size__site-logo;
    }
    
    #primary-navigation { // .main-navigation
        clear: both;
        display: block;
        float: left;
        width: $size__site-main-nav;
    }
}

#content { // Content
	clear: both;
	width: $size__site-content;

    #primary { // .content-area
        float: right;
        width: 100%;
        margin-left: (-$size__site-secondary);

        #main { // .site-main
            overflow: hidden;
            margin-left: $size__site-secondary;
        }
    }

    #secondary { // .sidebar-widget-area
        float: left;
        overflow: hidden;
        width: $size__site-secondary;
    }
}

#tertiary-container { // .footer-sidebar
    clear: both;
    width: $size__site-tertiary-container;

    #tertiary { // .footer-widget-area
        overflow: hidden;
        width: $size__site-tertiary;
    }
}

#colophon { // Footer
	clear: both;
	width: $size__site-footer-container;

    #credits {
        overflow: hidden;
        width: $size__site-footer;
    }
}


/* Medium Screens */

@media only screen and (max-width: 64em) { // min-width 641px and max-width 1024px

    #content { // Content
        
        #primary { // .content-area
            margin: 0 0 0 -33%;

            #main { // .site-main
                margin: 0 0 0 33%;
            }
        }

        #secondary { // .sidebar-widget-area
            width: 33%;
        }
    }
}


/* Small Screens */

@media only screen and (max-width: 40em) { // max-width 640px, mobile-only styles

    #masthead { // Header

        #top-navigation { // .secondary-navigation
            display: none;
        }

        #primary-navigation { // .main-navigation
        }
    }
    
    #content { // Content
        
        #primary { // .content-area
            margin: 0;

            #main { // .site-main
                margin: 0;
            }
        }

        #secondary { // .sidebar-widget-area
            float: left;
            width: 100%;
        }
    }

    #tertiary-container {
        display: none;
    }
}