button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	padding: .6em 1.2em;
	@include border($border__button);
	border-radius: 3px;
	background: $color__background-button;
	color: $color__text-button;
	@include font-size($font__size-button);
	line-height: $font__line-height-button;

	&:hover {
		border-color: $color__border-button-hover;
        background: $color__background-button-hover;
        color: $color__text-button-hover;
	}

	&:active,
	&:focus {
		border-color: $color__border-button-focus;
        background: $color__background-button-focus;
        color: $color__text-button-focus;
	}
}