.wp-caption {
	@include rem(margin-bottom, $spacing__element-vertical); // Repeat/overlap of figure in media.scss
	max-width: 100%;

	img[class*="wp-image-"] {
		@include center-block;
	}

	.wp-caption-text {
		margin: 0;
		@include font-size($font__size-caption);
		font-style: italic;
        color: $color__caption;
	}
}

.wp-caption-text {
	text-align: center;
}