.site-footer {
    @include border($border__footer);
    background: $color__background-footer;
    
    .site-info {
        @include rem(margin, $margin__footer);
        @include rem(padding, $padding__footer);
        color: $color__footer-text;
        font-family: $font__footer;
        @include font-size($font__size-footer);

        .copyright {
            float: left;
        }

        .theme-info {
            float: right;
        }

        a {
            text-decoration: none;
        }
    }
}