::selection {
    color: $color__text-selection;
    background: $color__background-selection;
}

.site-container {
}

.site { // #page
	box-shadow: $box-shadow__body;
	@include border($border__body);
	background-color: $color__background-body;
}