@media (max-width: 700px) and (orientation: landscape) {
    
}

@media (max-width: 500px) {
    #primary {
        float: left;
        margin: 0;
    }
    
    #main {
        margin: 0;
    }
    
    #secondary {
        float: left;
        width: 100%;
    }
}