@media (max-width: 700px) and (orientation: landscape) {
    
}

@media (max-width: 500px) {
    
    .top-navigation {
        display: none;
    }
    
    .site-branding {
        padding: 2rem;
    }
    
    .main-navigation {
        padding: 0 2rem;
    }
    
    #primary {
        float: left;
        margin: 0;
    }
    
    #main {
        margin: 0;
        padding: 1rem;
    }
    
    .hentry {
        padding: 1rem;
    }
    
    #secondary {
        float: left;
        width: 100%;
        padding: 2rem;
    }
    
    #tertiary {
        padding: 1rem;
        
        .widget {
            padding: 1rem;
        }
    }
}