@media (max-width: 700px) and (orientation: landscape) {
    
}

@media (max-width: 500px) {
    
    .top-navigation {
        display: none;
    }
    
    .site-branding {
        @include rem(padding, 2rem);
    }
    
    .main-navigation {
        @include rem(padding, 0 2rem);
        
        a {
            @include rem(padding, 0.5rem 1rem);
        }
    }
    
    #primary {
        float: left;
        margin: 0;
    }
    
    #main {
        margin: 0;
        @include rem(padding, 1rem);
    }
    
    .hentry {
        @include rem(padding, 1rem);
    }
    
    #secondary {
        float: left;
        width: 100%;
        @include rem(padding, 2rem 2rem 0);
        
        .widget {
            @include rem(margin-bottom, 2rem);
        }
    }
    
    #tertiary {
        flex-direction: column;
        flex-wrap: wrap;
        @include rem(padding, 1rem);
        
        .widget {
            @include rem(margin, 1rem);
        }
    }
    
    .site-footer .site-info {
        @include rem(padding, 1rem 2rem);
    }
}