.content-area { // #primary
	@include rem(margin, $margin__primary);
	@include rem(padding, $padding__primary);
	@include border($border__primary);
	background: $color__background-primary; // Also Sidebar Column background.
}

.site-main { // #main
    @include rem(margin, $margin__main);
	@include rem(padding, $padding__main);
	@include border($border__main);
	background: $color__background-main;
}

.page-header {
	background: $color__background-page-header;
	@include rem(margin, $margin__page-header);
	@include rem(padding, $padding__page-header);
	
	.page-title {
		font-weight: bold;
	}
    
    .archive-description {
    }
	
	p {
	   margin: 0;
	}
}

.sticky {
	display: block;
}

.hentry {
    @include rem(margin, $margin__article);
	@include rem(padding, $padding__article);
}

img.wp-post-image {
	display: block;
	@include rem(margin, $margin__post-image);
    @include rem(padding, $padding__post-image);
}

.entry-header {
	@include rem(margin-bottom, $spacing__element-vertical);
}

h1.entry-title {
    color: $color__title;
	
	a,
	a:visited {
		text-decoration: none;
		color: $color__title-link;
	}
	
	a:hover,
	a:focus,
	a:active {
		text-decoration: none;
		color: $color__title-link-hover;
	}
}

.entry-meta {
	font-family: $font__meta;
	@include font-size($font__size-meta);
	color: $color__text-meta;
	
	.edit-link {
		@include rem(margin-left, $spacing__element-horizontal);
	}
    
	a:visited {
        color: $color__link;
    }
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	text-align: justify;
	
	h1 {
        display: none;
    }
    
	h2,
	h3,
	h4,
	h5,
	h6 {
		@include rem(padding, $spacing__element-vertical 0);
	}
	
	p {
		@include rem(margin, 0 0 $spacing__element-vertical);
	}
    
    .more-link {
        font-weight: bold;
    }
}

.entry-footer {
	font-family: $font__meta;
	@include font-size($font__size-meta);
	color: $color__text-meta;
	
	span {
		display: inline-block;
		@include rem(margin-right, $spacing__element-horizontal);
	}
	
	.edit-link {
		margin-right: 0; // Reset
	}
    
	a:visited {
        color: $color__link;
    }
}