.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		overflow: hidden;
		@include rem(margin, $margin__post-nav);
        @include rem(padding, $padding__post-nav);
        font-weight: 700;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}

.page-links {
	clear: both;
	@include rem(margin-bottom, $spacing__element-vertical);
	font-weight: 700;
	
	a {
		text-decoration: none;
	}
}

.post-navigation {
	display: none;
}