/* Defaults */

$border-color: #808080;
$back-color: #f6f6f6;

$text-color1: #404040;
$text-color2: #808080;

$main-color1: #3498db;
$main-color2: #9b59b6;


/* Body */

$color__background-body: #eee;

$box-shadow__body: 0 0 10px rgba(0, 0, 0, 0.2);
$border__body: none;
$color__background-page: #fff;

$color__text-body: $text-color1;
$color__link: $main-color1;
$color__link-hover: $main-color2;
$color__link-visited: $main-color1;

$color__error: #e2401c;
$color__success: #0f834d;
$color__info: #3d9cd2;

$color__text-selection: $text-color1;
$color__background-selection: $main-color1;

$color__text-screen: #21759b;
$color__background-screen: #f1f1f1;


/* Top Navigation */

$border__secondary-nav: none;
$color__background-secondary-nav: #fff;
$color__background-secondary-nav-hover: $back-color;
$color__background-secondary-nav-current: #fff;

$color__secondary-nav-link: $main-color1;
$color__secondary-nav-link-hover: $main-color1;
$color__secondary-nav-link-current: $main-color1;

$border__secondary-nav-dropdown: 1px solid $back-color;
$margin-top__secondary-nav-dropdown-border-fix: 0; // Used in structure.scss.
$color__background-secondary-nav-dropdown: #fff;


/* Header */

$border__header: none;
$color__background-header: transparent;

$border__branding: none;
$color__background-branding: transparent;

$color__site-title-link: $main-color1;
$color__site-title-link-hover: $main-color1;


/* Main Navigation */

$border__primary-nav: 1px solid $border-color, none;
$color__background-primary-nav: #fff;
$color__background-primary-nav-hover: $main-color2;
$color__background-primary-nav-current: $main-color1;

$color__primary-nav-link: $main-color1;
$color__primary-nav-link-hover: #fff;
$color__primary-nav-link-current: #fff;

$border__primary-nav-dropdown: 1px solid $border-color;
$margin-top__primary-nav-dropdown-border-fix: -1px; // Used in structure.scss.
$color__background-primary-nav-dropdown: #fff;


/* Content Area */

$border__primary: none;
$color__background-primary: $back-color;


/* Sidebar Column */

$border__secondary-column: none; // Used as 2nd border in $border__main and the 4th border in $border__secondary.
$margin__secondary-column-border-fix: 0; // Equal to $border__secondary-column border width to overlap borders. Used in structure.scss.
$color__background-secondary-column: $color__background-primary; // Equal to $color__background-primary.


/* Site Main */

$border__main: none, $border__secondary-column, none, none; // 2nd border also used for Secondary Column.
$color__background-main: $color__background-page; // Default is $color__background-page.

$color__background-page-header: $back-color;

$color__title: $main-color1;
$color__title-link: $main-color1;
$color__title-link-hover: $main-color2;
$color__text-meta: $text-color2;


/* Elements */

$color__background-hr: $border-color;

$color__border-abbr: $border-color;
$color__background-mark: $main-color2;

$border__blockquote-left: 5px solid $border-color;

$color__background-code: $back-color;
$color__background-pre: $back-color;

$border__table: 1px solid $border-color;
$color__background-table-th: transparent;
$color__background-table-tr: $back-color;

$color__caption: $text-color2;

$border__button: 1px solid $border-color;
$color__border-button-hover: $border-color;
$color__border-button-active: $border-color;

$color__background-button: $main-color1;
$color__background-button-hover: $main-color2;
$color__background-button-active: $main-color2;

$color__text-button: $back-color;
$color__text-button-hover: $back-color;
$color__text-button-active: $back-color;

$border__input: 1px solid $border-color;
$color__border-input-focus: $main-color1;

$color__text-input: $text-color2;
$color__text-input-focus: $text-color1;


/* Comments */

$border__comment: none;
$color__background-comment: transparent;

$color__text-form-allowed-tags: $text-color2;

$color__background-comment-even: $back-color;
$color__background-comment-odd: transparent;

$border__bypostauthor: 5px solid $border-color, none, none;
$color__background-bypostauthor: transparent;

$color__text-bypostauthor: inherit;


/* Sidebar Widget Area */

$border__secondary: none, none, none, $border__secondary-column; // 4th border also used for Secondary Column.
$color__background-secondary: $color__background-secondary-column; // Equal to $color__background-secondary-column when using Secondary Column.

$border__secondary-title-bottom: 1px solid $border-color;
$color__secondary-text: $text-color1;


/* Footer Widget Area */

$border__tertiary: 1px solid $border-color, none, none;
$color__background-tertiary: $back-color;

$border__tertiary-title-bottom: 1px solid $border-color;
$color__tertiary-text: $text-color1;


/* Footer */

$border__footer: 1px solid $border-color, none, none;
$color__background-footer: transparent;

$color__footer-text: $text-color1;