/* Font Imports */

@import url('');

/* Defaults */

$title-font: Arial, Helvetica Neue, Helvetica, sans-serif;

$main-font: Georgia, Times, Times New Roman, serif;

$menu-font: Arial, Helvetica Neue, Helvetica, sans-serif;

$code-font: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;


/* Body */

$font__body: $main-font; // typography\typography.scss
$font__size-body: 1;
$font__line-height-body: 1.5;


/* Top Navigation */

$font__secondary-nav: $menu-font;
$font__size-secondary-nav: 0.75;


/* Header */

$font__site-title: $title-font;
$font__size-site-title: 3;
$font__line-height-site-title: 1;

$font__site-description: $main-font;
$font__size-site-description: 1;
$font__line-height-site-description: 1;


/* Main Navigation */

$font__primary-nav: $menu-font;
$font__size-primary-nav: 0.875;


/* Site Main */

$font__title: $title-font; // typography\headings.scss
$font__size-title: 2;
$font__line-height-title: 1;

$font__meta: $title-font;
$font__size-meta: 0.875;

$font__headers: $title-font; // typography\headings.scss
$font__size-h2: 1.625;
$font__line-height-h2: 1;
$font__size-h3: 1.25;
$font__line-height-h3: 1.25;
$font__size-h4: 1; // Equal to body, font weight is bold.
$font__line-height-h4: 1.5;


/* Elements */

$font__code: $code-font;
$font__size-code: 0.9375;

$font__pre: $code-font;
$font__size-pre: 0.9375;
$font__line-height-pre: 1.6;

$font__size-caption: 0.875;

$font__size-button: 0.9375;
$font__line-height-button: 1;

$font__size-input: $font__size-button;
$font__line-height-input: $font__line-height-button;


/* Comments */

$font__size-comments-title: 1.25;
$font__line-height-comments-title: 1.25;

$font__size-comment-author: 1;

$font__size-comments: 0.875;


/* Sidebar Widget Area */

$font__title-secondary: $title-font;
$font__size-title-secondary: 1;
$font__line-height-secondary-title: 1.5;

$font__secondary: $menu-font;
$font__size-secondary: 0.875;


/* Footer Widget Area */

$font__title-tertiary: $title-font;
$font__size-title-tertiary: 1;
$font__line-height-tertiary-title: 1.5;

$font__tertiary: $menu-font;
$font__size-tertiary: 0.875;


/* Footer */

$font__footer: $main-font;
$font__size-footer: 0.75;