button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	padding: $padding__button;
	@include border($border__button);
	border-radius: 3px;
	background: $color__background-button;
	color: $color__text-button;
	@include font-size($font__size-button);
    font-weight: 700;
	line-height: $font__line-height-button;

	&:hover,
	&:focus {
		border-color: $color__border-button-hover;
        background: $color__background-button-hover;
        color: $color__text-button-hover;
        outline: none;
	}

	&:active {
		border-color: $color__border-button-active;
        background: $color__background-button-active;
        color: $color__text-button-active;
	}
}