/* Inherit box-sizing to more easily change it's value on a component level.
@link http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
	background: $color__background-body; // Fallback for when there is no custom background color defined.
}

hr {
	height: 1px;
	@include rem(margin, 0 $spacing__element-horizontal $spacing__element-vertical);
	border: 0;
	background: $color__background-hr;
}

img {
    height: auto; // Make sure images are scaled correctly.
    max-width: 100%; // Adhere to container width.
}

figure {
	@include rem(margin, 0 0 $spacing__element-vertical); // Extra wide images within figure tags don't overflow the content area.
}