input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	@include border($border__input);
	border-radius: 3px;
    outline: none;
	color: $color__text-input;
	@include font-size($font__size-input);
	line-height: $font__line-height-input;

	&:focus {
        border-color: $color__border-input-focus;
        color: $color__text-input-focus;
	}
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: $padding__input;
}

textarea {
	padding: $padding__textarea;
	width: 100%;
}