/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

img {
	height: auto; // Make sure images are scaled correctly.
	max-width: 100%; // Adhere to container width.
}

.wp-block-image figure,
figure {
	@include rem(margin, 0 0 $spacing__element-vertical); // Extra wide images within figure tags don't overflow the content area.
}