/* Defaults */

$default-height: 4rem;
$default-width: 4rem;


/* body */

$size__site: 1080px;

$size__site-header: 100%;
    $size__site-top-nav: 100%;
    $size__site-logo: 100%;
    $size__site-main-nav: 100%;
$size__site-content: 100%;
    $size__site-secondary: 25%;  // Sidebar
    $size__site-tertiary: 100%;
$size__site-footer: 100%;


/* Top Navigation */

$margin__secondary-nav: 0;
$padding__secondary-nav: 0 1rem;
$padding__secondary-nav-link-vertical: 5px;
$padding__secondary-nav-link-horizontal: 1rem; // $padding__secondary-nav + $padding__secondary-nav-link-horizontal = spacing__secondary-area

$top__secondary-nav-dropdown: 28px;
$margin-top__secondary-nav-dropdown: $margin-top__secondary-nav-dropdown-border-fix; // Variable defined in colors.scss.

$width__secondary-nav-dropdown: 150px;
$padding__secondary-nav-dropdown: 2.5px $padding__secondary-nav-link-horizontal; // Verticle is half of $padding__secondary-nav-link-vertical.


/* Header */

$margin__branding: $default-height $default-width;
$padding__branding: 0;


/* Main Navigation */

$margin__primary-nav: 0;
$padding__primary-nav: 0 2rem;
$padding__primary-nav-link-vertical: 10px;
$padding__primary-nav-link-horizontal: 2rem; // $padding__primary-nav + $padding__primary-nav-link-horizontal = spacing__main + spacing__article

$top__primary-nav-dropdown: 41px;
$margin-top__primary-nav-dropdown: $margin-top__primary-nav-dropdown-border-fix; // Variable defined in colors.scss.

$width__primary-nav-dropdown: 200px;
$padding__primary-nav-dropdown: 5px $padding__primary-nav-link-horizontal; // Verticle is half of $padding__primary-nav-link-vertical.


/* Content Area */

$margin__primary: 0;
$padding__primary: 0;


/* Site Main */

$margin__main: 0;
$padding__main: ($default-height / 2) ($default-width / 2);

$margin__page-header: (-$default-height / 2) (-default-width / 2) ($default-height / 2); // $padding__main: -# -# #;
$padding__page-header: ($default-height / 2) ($default-width / 2); // Equal to $padding__main.

$margin__article: 0;
$padding__article: ($default-height / 2) ($default-width / 2); // Also used for $padding__comments.

$margin__post-image: 0 auto 1rem;
$padding__post-image: 0;

$margin__post-nav: ($default-height / 2) ($default-width / 2); // Equal to $padding__article.
$padding__post-nav: 0;


/* Elements */

$spacing__element-vertical: 2rem; // Variable reused later.
$spacing__element-horizontal: 2rem; // Variable reused later.

$spacing__list-left: ($spacing__element-horizontal / 2);

$padding__button: 0.33em 0.67em;

$padding__input: 0.33em;
$padding__textarea: 0 0 0 0.33em;


/* Comments */

$margin__comments: 0;
$padding__comments: $padding__article;

$spacing__comment: ($spacing__element-horizontal / 2);

$width__comment-label: 70px;


/* Widgets */

$margin__widget-title: 0 0 0.5rem;

$spacing__widget-list-left: ($spacing__element-horizontal / 2);


/* Sidebar Widget Area */

$margin__secondary-area: 0 $margin__secondary-column-border-fix 0 (-$margin__secondary-column-border-fix); // Variable defined in colors.scss.
$padding__secondary-area: 3rem 1rem;

$margin__secondary-widget: 0;
$padding__secondary-widget: 1rem;


/* Footer Widget Area */

$margin__tertiary-area: 0;
$padding__tertiary-area: 2rem;

$margin__tertiary-widget: 1rem;
$padding__tertiary-widget: 1rem;
$width__teriary-widget: 306px; // Backwards compatibility.


/* Footer */

$margin__footer: 0;
$padding__footer-vertical: 1rem;
$padding__footer-horizontal: ($margin__tertiary-area + $padding__tertiary-area + $margin__tertiary-widget + $padding__tertiary-widget);