/*! responsive-nav.js 1.0.39 by @viljamis */


/* Small Screens */

@media only screen and (max-width: 40em) { // max-width 640px, mobile-only styles

    .main-navigation {
        padding: 0;
        border-bottom: none;
    
        ul {
            margin: 0;
            padding: 0;
            width: 100%;
            display: block;
            list-style: none;

            ul {
                float: none;
                width: 50%;
                top: 0;
                margin-left: 50%;
                
                a {
                    width: 100%;
                }
            }
        }

        li {
            float: none;
            width: 100%;
            display: block;
        }
        
        a {
             @include rem(padding, 10px 2rem);
        }
    }

    .js .main-navigation {
        clip: rect(0 0 0 0);
        max-height: 0;
        position: absolute;
        display: block;
        overflow: hidden;
        zoom: 1;
    }

    .main-navigation.opened {
        max-height: 9999px;
    }

    .nav-toggle {
        position: absolute;
        @include rem(top, 2rem);
        @include rem(right, 2rem);
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;
    }
}


/* Medium and Large Screens */

@media screen and (min-width: 40em) {
    
    .js .main-navigation {
        position: relative;
    }
    
    .js .main-navigation.closed {
        max-height: none;
    }
    
    .nav-toggle {
        display: none;
    }
}