.menu-toggle {
    display: none;
}

@media only screen and (max-width: 40em) { // max-width 640px, mobile-only styles

    .main-navigation {
        height: 0; // before toggle
        margin: 0; // reset
        padding: 0; // reset

        ul {
            display: none; // before toggle
            margin: 0; // reset
            padding: 0; // reset
            list-style: none;

            ul {
                z-index: 99999;
            }
        }

        a {
            display: block;
        }
    }
    
    .menu-toggle {
        z-index: 1;
        display: block;
        position: relative;
        top: -17px;
        left: 100%;
        @include rem(margin-left, -5rem);
        @include rem(padding, 0.5rem 1rem);
        @include border($border__button);
        border-radius: 3px;
    }
    
    .main-navigation.toggled {
        height: 100%; // after toggle
        
        ul {
            display: block; // after toggle
            margin-top: -34px; // .main-navigation margin-top - .main-navigation border-top
            
            ul {
                width: 100%;
                margin-top: 0;
                border-right: none;
                border-left: none;
                
                ul {
                    border: none;
                    
                    ul {
                        
                        a {
                            @include rem(padding-left, 4rem);
                        }
                    }
                    
                    a {
                        @include rem(padding-left, 3rem);
                    }
                }
                
                a {
                    @include rem(padding-left, 2rem);
                }
            }
            
            li {
                width: 100%;
            }
        
            a {
                width: 100%;
                @include rem(padding-left, 1rem);
            }
        }
    
        li > ul { // before submenu
            visibility: hidden;
            opacity: 0;
            height: 0;
            transition: height 50ms, opacity 250ms ease-in;
        }
        
        li:hover > ul,
        li.focus > ul { // active submenu
            visibility: visible;
            opacity: 1;
            height: 100%;
        }
    }
}