/* Small Screens */

.menu-toggle {
    display: none;
}

@media only screen and (max-width: 40em) { // max-width 640px, mobile-only styles
    
    .main-navigation {
        height: 0;
        margin-top: 34px;
        padding: 0;
        
        ul {
            display: none;
        }
    }
    
    .menu-toggle {
        display: block;
        position: relative;
        top: -34px;
        @include rem(left, 2rem);
        @include rem(padding, 0.5rem 1rem);
        @include border($border__button, $border__button, none);
        border-radius: 3px 3px 0 0 / 3px 3px 0 0;
    }
    .main-navigation.toggled {
        height: 100%;
        
        ul {
            display: block;
            margin-top: -33px; // .main-navigation margin-top - .main-navigation border-top
            
            ul {
                width: 50%;
                margin-left: 50%;
                
                ul {
                    display: none; // Only handles one submenu.
                }
                
                a {
                    width: 100%;
                }
            }
        
            li {
                width: 100%;
            }
        }
    }
}