@media (max-width: 500px) {
    
    .top-navigation { // Secondary Navigation
        display: none;
    }
    
    .site-branding {
        @include rem(padding, 2rem);
    }
    
    // Primary Navigation is in Small Navigation.
    
    #primary { // Content
        float: left;
        margin: 0;
    }
    
    #main {
        margin: 0;
        @include rem(padding, 1rem);
    }
    
    .hentry {
        @include rem(padding, 1rem);
        
        p {
            word-wrap: break-word;
        }
    }
    
    .comment-navigation,
    .posts-navigation,
    .post-navigation {
        
        .site-main & {
		@include rem(margin, 2rem 1rem);
        }
    }
    
    #secondary { // Sidebar Widget Area
        float: left;
        width: 100%;
        @include rem(padding, 1rem);
        
        .widget {
            @include rem(margin, 0);
            @include rem(padding, 1rem);
        }
    }
    
    #tertiary { // Footer Widget Area
        flex-direction: column;
        @include rem(padding, 1rem);
        
        .widget {
            @include rem(margin, 0);
            @include rem(padding, 1rem);
        }
    }
    
    .site-footer .site-info {
        @include rem(padding, 1rem 2rem);
	
        .theme-info {
            float: left;
        }
    }
}