.main-navigation {
	@include rem(padding, 0 $spacing__primary-nav-width);
	@include border($border__primary-nav);
	background-color: $color__background-primary-nav;

	ul {

		ul {
			top: $top__primary-nav-dropdown;
			@include border($border__primary-nav-dropdown);
			background-color: $color__background-primary-nav;
			background-color: $color__background-primary-nav-dropdown;

			ul {
				margin-top: $margin-top__primary-nav-border-fix; // Aligns top border
            }

			a {
				width: $width__primary-nav-dropdown;
				@include rem(padding, $spacing__primary-nav-dropdown);
			}

			:hover > a {
			}

			a:hover {
			}
		}
	}
	
	li {

		&:hover > a {
			background-color: $color__background-primary-nav-hover;
			color: $color__primary-nav-link-hover;
		}
	}
	
	a {
		@include rem(padding, $spacing__primary-nav-link-height $spacing__primary-nav-link-width);
		font-family: $font__primary-nav;
		@include font-size($font__size-primary-nav);
		font-weight: bold;
		text-decoration: none;
		color: $color__primary-nav-link;
		
		&:visited {
			color: $color__primary-nav-link;
		}
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a {
			background-color: $color__background-primary-nav-current;
			color: $color__primary-nav-link-current;
	}
}