.main-navigation {
    @include rem(margin, $margin__primary-nav);
	@include rem(padding, $padding__primary-nav);
	@include border($border__primary-nav);
	background: $color__background-primary-nav;

	ul {

		ul {
			top: $top__primary-nav-dropdown;
			@include border($border__primary-nav-dropdown);
			background: $color__background-primary-nav-dropdown;

			ul {
				margin-top: $margin-top__primary-nav-dropdown; // Aligns top border
            }

			a {
				width: $width__primary-nav-dropdown;
				@include rem(padding, $padding__primary-nav-dropdown);
			}

			:hover > a {
			}

			a:hover {
			}
		}
	}

	li {

		&:hover > a {
			background: $color__background-primary-nav-hover;
			color: $color__primary-nav-link-hover;
		}
	}

	a {
		@include rem(padding, $padding__primary-nav-link-vertical $padding__primary-nav-link-horizontal);
		font-family: $font__primary-nav;
		@include font-size($font__size-primary-nav);
		font-weight: bold;
		text-decoration: none;
		color: $color__primary-nav-link;

		&:visited {
			color: $color__primary-nav-link;
		}
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a {
			background: $color__background-primary-nav-current;
			color: $color__primary-nav-link-current;
	}
}