.main-navigation,
.secondary-navigation {

	ul {
		margin: 0;
		padding-left: 0;
		list-style: none;

		ul {
			z-index: 99999;
			position: absolute;
			float: left;
			left: -999em;

			ul {
				top: 0;
				left: -999em;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}
	
	li {
		position: relative;
		float: left;

		&:hover > a,
		&.focus > a {
		}
	}
	
	a {
		display: block;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}