.secondary-navigation {
    @include rem(margin, $margin__secondary-nav);
	@include rem(padding, $padding__secondary-nav);
    @include border($border__secondary-nav);
	background: $color__background-secondary-nav;

	ul {
		float: right;

		ul {
			top: $top__secondary-nav-dropdown;
			@include border($border__secondary-nav-dropdown);
			background: $color__background-secondary-nav-dropdown;

			ul {
				margin-top: $margin-top__secondary-nav-dropdown; // Aligns top border
            }

			a {
				width: $width__secondary-nav-dropdown;
				@include rem(padding, $padding__secondary-nav-dropdown);
			}

			:hover > a {
			}

			a:hover {
			}
		}
	}

	li {

		&:hover > a {
			background: $color__background-secondary-nav-hover;
			color: $color__secondary-nav-link-hover;
		}
	}

	a {
		@include rem(padding, $padding__secondary-nav-link-vertical $padding__secondary-nav-link-horizontal);
		font-family: $font__secondary-nav;
		@include font-size($font__size-secondary-nav);
		font-weight: normal;
		text-decoration: none;
		color: $color__secondary-nav-link;

		&:visited {
			color: $color__secondary-nav-link;
		}
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a {
			background: $color__background-secondary-nav-current;
			color: $color__secondary-nav-link-current;
	}
}